body {
	font-family: 'Contrail One', Arial, sans-serif;
	font-size: 16px;
	background: #3a3333;
	text-align: center;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
button {
	cursor: pointer;
}


body > * {
	box-sizing: border-box;
	max-width: 800px;
	width: 90%;
	padding: 1em 2em;
	margin: 0 auto;
	background: #eee;
}
	body > .state {
		display: none;
		position: relative; z-index: 1;
	}
	body > .game {
		/* display: block; */
		position: absolute; top: 0; left: 0;
		z-index: 0;
		box-sizing: border-box;
		width: 100%; max-width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.8);
	}
	.game h2 {
		display: none;
	}
	.game nav button {
		position: absolute; z-index: 100;
		min-width: 6em;
		width: 6em;
	}

header, footer {
	/* background: #cfcccc; */
	position: relative; z-index: 1;
	text-align: left;
}
	header h1 {
		font-size: 6em;
		margin: 0;
		color: #333;
	}
	header {
		border-radius: 1em 1em 0 0;
		background-position: 90% center;
		background-repeat: no-repeat;
		background-image: url('../images/boots1_flat_300.png');
		background-size: auto 100%;
	}
	footer {
		padding: 2em 2em;
		font-size: 100%;
		color: #333;
		border-radius: 0 0 1em 1em;
	}
	footer a {
		color: #335588;
	}


.mainmenu ul {
	display: block;
	list-style: none;
	margin: 1em 0; padding: 0;
}
.mainmenu ul > li {
	display: block;
}
nav button {
	display: block;
	min-width: 60%;
	padding: 1em 0.5em;
	margin: 0.1em auto;
	font-family: 'Press Start 2P';
	font-size: 100%;
	border: solid 1px #999;
	border-radius: 0.2em;
}
nav .disk {
	display: none;
}
nav button.play {
	background: #ffff88;
	padding: 2em 0.5em;
}
.goto {
	cursor: pointer;
}


.stage {
	position: relative;
	width: 100%;
	height: 100%;
	border: dashed gray 1px;
}
.stage .layer {
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
	border: dashed red 1px;
}


